<?xml version="1.0" encoding="UTF-8"?>
<!-- ############################################ THIS IS AN EXAMPLE FILE, WE CAN START FROM HERE ############################################  -->
<!DOCTYPE generatorConfiguration
        PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
        "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">
<generatorConfiguration>
    <context id="context1" targetRuntime="MyBatis3">
        <!-- We want the standard equals, hashCode & toString methods -->
        <plugin type="org.mybatis.generator.plugins.EqualsHashCodePlugin"/>
        <plugin type="org.mybatis.generator.plugins.ToStringPlugin"/>
        <plugin type="org.mybatis.generator.plugins.SerializablePlugin"/>

        <jdbcConnection
                driverClass="org.postgresql.Driver"
                connectionURL="jdbc:postgresql://satao.db.elephantsql.com:5432/lwdwxyuq"
                userId="lwdwxyuq"
                password="RijwFQSfNCjVxp2Ew3sStfvLzcXW8Fs0"/>

        <javaModelGenerator
                targetPackage="spl.question.bank.database.model"
                targetProject="backend/src/main/java"/>

        <javaClientGenerator
                targetPackage="spl.question.bank.database.client"
                targetProject="backend/src/main/java"
                type="ANNOTATEDMAPPER">
            <property name="rootInterface" value="spl.question.bank.database.MapperMarker"/>
        </javaClientGenerator>

        <table tableName="users" domainObjectName="User">
            <generatedKey
                    column="id"
                    sqlStatement="select currval('users_id_seq')"
                    identity="true"/>
        </table>

        <table tableName="role" domainObjectName="Role">
            <generatedKey
                    column="id"
                    sqlStatement="select currval('role_id_seq')"
                    identity="true"/>
        </table>
        <table tableName="user_role" domainObjectName="UserRole">
            <generatedKey column="id"
                          sqlStatement="select currval('user_role_id_seq')"
                          identity="true"/>
        </table>

        <table tableName="class" domainObjectName="Class">
            <generatedKey column="id"
                          sqlStatement="select currval('class_id_seq')"
                          identity="true"/>
        </table>

        <table tableName="subject" domainObjectName="Subject">
            <generatedKey column="id"
                          sqlStatement="select currval('subject_id_seq')"
                          identity="true"/>
        </table>

        <table tableName="chapter" domainObjectName="Chapter">
            <generatedKey column="id"
                          sqlStatement="select currval('chapter_id_seq')"
                          identity="true"/>
        </table>

        <table tableName="learning_outcome" domainObjectName="LearningOutcome">
            <generatedKey column="id"
                          sqlStatement="select currval('learning_outcome_id_seq')"
                          identity="true"/>
        </table>

        <table tableName="institute" domainObjectName="Institute">
            <generatedKey column="id"
                          sqlStatement="select currval('institute_id_seq')"
                          identity="true"/>
        </table>
        <table tableName="cq_question" domainObjectName="CQQuestion">
            <generatedKey column="id"
                          sqlStatement="select currval('cq_question_id_seq')"
                          identity="true"/>
        </table>
        <table tableName="mcq_question" domainObjectName="MCQQuestion">
            <generatedKey column="id"
                          sqlStatement="select currval('mcq_question_id_seq')"
                          identity="true"/>

            <columnOverride
                    column="base_question"
                    javaType="java.lang.String"
                    typeHandler="spl.question.bank.database.handler.JsonTypeHandler"/>
        </table>
        <table tableName="teacher_subject" domainObjectName="TeacherSubject">
            <generatedKey column="id"
                          sqlStatement="select currval('teacher_subject_id_seq')"
                          identity="true"/>
        </table>

        <table tableName="question_paper" domainObjectName="QuestionPaper">
            <generatedKey column="id"
                          sqlStatement="select currval('question_paper_id_seq')"
                          identity="true"/>
        </table>
        <table tableName="question_paper_question" domainObjectName="QuestionPaperQuestion">
            <generatedKey column="id"
                          sqlStatement="select currval('question_paper_question_id_seq')"
                          identity="true"/>
        </table>
        <table tableName="moderator_question" domainObjectName="ModeratorQuestion">
            <generatedKey column="id"
              sqlStatement="select currval('moderator_question_id_seq')"
              identity="true"/>
        </table>

    </context>
</generatorConfiguration>
