@import 'settings';
@import 'form';
@import 'home';
@import 'toaster';



.qb-png {
	background: url("../static/QuestionBank.png") no-repeat center;
	margin: 5px;
	width: 300px;
	height: 50px;;
}

.access-denied {
	background: url("../static/access_denied.jpg") no-repeat center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover; 
	width:700px;
	height:450px;
	margin: 8% 0% 0% 14%;
}


.not-found {
	background: url("../static/not-found.jpg") no-repeat center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover; 
	width:700px;
	height:450px;
	margin: 8% 0% 0% 14%;
}

.home-txt {
	display: block;
-webkit-box-sizing: content-box;
-moz-box-sizing: content-box;
box-sizing: content-box;
float: none;
z-index: auto;
width: auto;
height: auto;
position: static;
cursor: default;
opacity: 1;
margin: 0;
padding: 0;
overflow: visible;
border: none;
-webkit-border-radius: 0;
border-radius: 0;
font: normal normal 900 70px/normal "Aldrich", Helvetica, sans-serif;
color: rgb(32, 44, 45);
text-align: center;
-o-text-overflow: clip;
text-overflow: clip;
background: none;
-webkit-box-shadow: none;
box-shadow: none;
text-shadow: 0 1px 0 rgb(128,141,147) , -1px 0 0 rgb(205,210,213) , -1px 2px 0 rgb(128,141,147) , -2px 1px 0 rgb(205,210,213) , -2px 3px 0 rgb(128,141,147) , -3px 2px 0 rgb(205,210,213) , -3px 4px 0 rgb(128,141,147) , -4px 3px 0 rgb(205,210,213) , -4px 5px 0 rgb(128,141,147) , -5px 4px 0 rgb(205,210,213) , -5px 6px 0 rgb(128,141,147) , -6px 5px 0 rgb(205,210,213) , -6px 7px 0 rgb(128,141,147) , -7px 6px 0 rgb(205,210,213) , -7px 8px 0 rgb(128,141,147) , -8px 7px 0 rgb(205,210,213) ;
-webkit-transition: none;
-moz-transition: none;
-o-transition: none;
transition: none;
-webkit-transform: none;
transform: none;
-webkit-transform-origin: 50% 50% 0;
transform-origin: 50% 50% 0;
}

html { font-size: 0.9rem; }

@font-face {
  font-family: 'Siyam Rupali';
  src: url('../static/fonts/SiyamRupali.eot');
	src: local('Siyam Rupali'), url('../static/fonts/SiyamRupali.woff') format('woff'),       
	url('../static/fonts/SiyamRupali.ttf') format('truetype');
  font-style: normal;
}


@font-face {
  font-family: 'SutonnyMJ';
  src: url('../static/fonts/SutonnyMJ/SUTOM___.TTF');
	src: local('SutonnyMJ'), url('../static/fonts/SutonnyMJ/SutonnyMJ-Bold.ttf') format('truetype'),       
	url('../static/fonts/SutonnyMJ/SutonnyMJ-BoldItalic.ttf') format('truetype'),
	url('../static/fonts/SutonnyMJ/SutonnyMJ-Italic.ttf') format('truetype'),
	url('../static/fonts/SutonnyMJ/SutonnyOMJ.ttf') format('truetype')
	;
  font-style: normal;
}