body {
	height: 100%;
}

.min-h {
	height: 100%;
}

li.active {
	background-color: #428bca;
}

li {
	padding-bottom: 5px;
	padding-top: 5px;
}

.sidebar {
	background-color: #274627;
	padding-right: 20px;
	padding-top: 20px;
	min-height: calc(100vh - 50px);
	color: white;

}

/* Sidebar navigation */
.nav-sidebar {
	margin-right: -21px;
	margin-bottom: 20px;
	margin-left: -20px;
}

.nav-sidebar>li>a {
	color: white;
}

.nav-sidebar>.active>a,
.nav-sidebar>.active>a:hover,
.nav-sidebar>.active>a:focus {
	color: #fff;
	background-color: #428bca;
}

button {
	color: #fafafa;
}

.dotted-border-bottom {
	border-bottom: 1px solid rgb(174, 174, 194);
}

.nav__submenu {
	display: none;
}

.dotted-border-bottom:hover {
	.nav__submenu {
		display: block;
	}

}

.nav__submenu {
	font-weight: 300;
	text-transform: none;
	display: none;
}

.nav__submenu-item {
	&:hover {
		background: rgba(#000, 0.1);
	}
}


.my-auto {
	margin-top: auto;
	margin-bottom: auto;
}

tbody+thead {
	display: none;
}

.bg-light-green {
	background-color: #1abd74;
}

.bg-purple {
	background-color: #8d2abbcb;
}

.tooltip {
	display:inline-block;
	position:relative;
	border-bottom:1px dotted #666;
	text-align:left;
}

.tooltip .top {
	min-width:200px; 
	top:-20px;
	left:50%;
	transform:translate(-50%, -100%);
	padding:10px 20px;
	color:#444444;
	background-color:#EEEEEE;
	font-weight:normal;
	font-size:13px;
	border-radius:8px;
	position:absolute;
	z-index:99999999;
	box-sizing:border-box;
	box-shadow:0 1px 8px rgba(0,0,0,0.5);
	display:none;
}

.tooltip:hover .top {
	display:block;
}

.tooltip .top i {
	position:absolute;
	top:100%;
	left:50%;
	margin-left:-12px;
	width:24px;
	height:12px;
	overflow:hidden;
}

.tooltip .top i::after {
	content:'';
	position:absolute;
	width:12px;
	height:12px;
	left:50%;
	transform:translate(-50%,-50%) rotate(45deg);
	background-color:#EEEEEE;
	box-shadow:0 1px 8px rgba(0,0,0,0.5);
}