/* Override react-select settings */
.link-button {
  background: none !important;
  border: none;
  padding: 0 !important;
  color: #069;
  text-decoration: none;
  cursor: pointer; }

body {
  height: 100%; }

.min-h {
  height: 100%; }

li.active {
  background-color: #428bca; }

li {
  padding-bottom: 5px;
  padding-top: 5px; }

.sidebar {
  background-color: #274627;
  padding-right: 20px;
  padding-top: 20px;
  min-height: calc(100vh - 50px);
  color: white; }

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px;
  margin-bottom: 20px;
  margin-left: -20px; }

.nav-sidebar > li > a {
  color: white; }

.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca; }

button {
  color: #fafafa; }

.dotted-border-bottom {
  border-bottom: 1px solid #aeaec2; }

.my-auto {
  margin-top: auto;
  margin-bottom: auto; }

tbody + thead {
  display: none; }

.Toastify__toast-container.toaster {
  top: 5em;
  width: 400px;
  z-index: 10001; }
  .Toastify__toast-container.toaster .toaster-success {
    background-color: #63ccb5;
    border-radius: 3px; }
    .Toastify__toast-container.toaster .toaster-success .Toastify__close-button:hover {
      color: #ffcd64; }
  .Toastify__toast-container.toaster .toaster-info {
    background-color: #ffcd64;
    border-radius: 3px;
    color: #1c2026; }
    .Toastify__toast-container.toaster .toaster-info .Toastify__close-button {
      color: #1c2026; }
  .Toastify__toast-container.toaster .toaster-error {
    background-color: #e14164;
    border-radius: 3px;
    color: #d8d8d8; }
    .Toastify__toast-container.toaster .toaster-error .Toastify__close-button:hover {
      color: #ff8c6e; }
    .Toastify__toast-container.toaster .toaster-error .error-message-wrapper {
      display: flex;
      flex-direction: column; }
      .Toastify__toast-container.toaster .toaster-error .error-message-wrapper p {
        margin-bottom: 3px; }
        .Toastify__toast-container.toaster .toaster-error .error-message-wrapper p.message {
          font-size: 1.1rem; }
        .Toastify__toast-container.toaster .toaster-error .error-message-wrapper p.id {
          font-size: 0.9rem;
          display: flex;
          flex-direction: row;
          justify-content: space-between; }
        .Toastify__toast-container.toaster .toaster-error .error-message-wrapper p .copy {
          color: #1c2026;
          padding: 2rem 0;
          padding-left: 2rem; }
          .Toastify__toast-container.toaster .toaster-error .error-message-wrapper p .copy:hover {
            color: #ffcd64; }
  .Toastify__toast-container.toaster .Toastify__close-button {
    font-size: 1.2rem;
    font-weight: normal; }

.qb-png {
  background: url("../static/QuestionBank.png") no-repeat center;
  margin: 5px;
  width: 300px;
  height: 50px; }

.access-denied {
  background: url("../static/access_denied.jpg") no-repeat center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 700px;
  height: 450px;
  margin: 8% 0% 0% 14%; }

.not-found {
  background: url("../static/not-found.jpg") no-repeat center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 700px;
  height: 450px;
  margin: 8% 0% 0% 14%; }

a:link {
  text-decoration: none; }
