/* Override react-select settings */
.link-button {
  background: none !important;
  border: none;
  padding: 0 !important;
  color: #069;
  text-decoration: none;
  cursor: pointer; }

.bg-teacher-list {
  color: #ffffff;
  background-color: #3c6b4f !important; }

.btn-rmv {
  background-color: #9c4951 !important;
  color: #fff !important; }

.btn-view {
  background-color: #435b82 !important;
  color: #fff !important; }

.scroll-div {
  height: 50%;
  overflow-y: scroll; }

body {
  height: 100%; }

.min-h {
  height: 100%; }

li.active {
  background-color: #428bca; }

li {
  padding-bottom: 5px;
  padding-top: 5px; }

.sidebar {
  background-color: #274627;
  padding-right: 20px;
  padding-top: 20px;
  min-height: calc(100vh - 50px);
  color: white; }

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px;
  margin-bottom: 20px;
  margin-left: -20px; }

.nav-sidebar > li > a {
  color: white; }

.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca; }

button {
  color: #fafafa; }

.dotted-border-bottom {
  border-bottom: 1px solid #aeaec2; }

.nav__submenu {
  display: none; }

.dotted-border-bottom:hover .nav__submenu {
  display: block; }

.nav__submenu {
  font-weight: 300;
  text-transform: none;
  display: none; }

.nav__submenu-item:hover {
  background: rgba(0, 0, 0, 0.1); }

.my-auto {
  margin-top: auto;
  margin-bottom: auto; }

tbody + thead {
  display: none; }

.Toastify__toast-container.toaster {
  top: 5em;
  width: 400px;
  z-index: 10001; }
  .Toastify__toast-container.toaster .toaster-success {
    background-color: #63ccb5;
    border-radius: 3px; }
    .Toastify__toast-container.toaster .toaster-success .Toastify__close-button:hover {
      color: #ffcd64; }
  .Toastify__toast-container.toaster .toaster-info {
    background-color: #ffcd64;
    border-radius: 3px;
    color: #1c2026; }
    .Toastify__toast-container.toaster .toaster-info .Toastify__close-button {
      color: #1c2026; }
  .Toastify__toast-container.toaster .toaster-error {
    background-color: #e14164;
    border-radius: 3px;
    color: #d8d8d8; }
    .Toastify__toast-container.toaster .toaster-error .Toastify__close-button:hover {
      color: #ff8c6e; }
    .Toastify__toast-container.toaster .toaster-error .error-message-wrapper {
      display: flex;
      flex-direction: column; }
      .Toastify__toast-container.toaster .toaster-error .error-message-wrapper p {
        margin-bottom: 3px; }
        .Toastify__toast-container.toaster .toaster-error .error-message-wrapper p.message {
          font-size: 1.1rem; }
        .Toastify__toast-container.toaster .toaster-error .error-message-wrapper p.id {
          font-size: 0.9rem;
          display: flex;
          flex-direction: row;
          justify-content: space-between; }
        .Toastify__toast-container.toaster .toaster-error .error-message-wrapper p .copy {
          color: #1c2026;
          padding: 2rem 0;
          padding-left: 2rem; }
          .Toastify__toast-container.toaster .toaster-error .error-message-wrapper p .copy:hover {
            color: #ffcd64; }
  .Toastify__toast-container.toaster .Toastify__close-button {
    font-size: 1.2rem;
    font-weight: normal; }

.qb-png {
  background: url("../static/QuestionBank.png") no-repeat center;
  margin: 5px;
  width: 300px;
  height: 50px; }

.access-denied {
  background: url("../static/access_denied.jpg") no-repeat center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 700px;
  height: 450px;
  margin: 8% 0% 0% 14%; }

.not-found {
  background: url("../static/not-found.jpg") no-repeat center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 700px;
  height: 450px;
  margin: 8% 0% 0% 14%; }

.home-txt {
  display: block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  float: none;
  z-index: auto;
  width: auto;
  height: auto;
  position: static;
  cursor: default;
  opacity: 1;
  margin: 0;
  padding: 0;
  overflow: visible;
  border: none;
  -webkit-border-radius: 0;
  border-radius: 0;
  font: normal normal 900 70px/normal "Aldrich", Helvetica, sans-serif;
  color: #202c2d;
  text-align: center;
  -o-text-overflow: clip;
  text-overflow: clip;
  background: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  text-shadow: 0 1px 0 #808d93, -1px 0 0 #cdd2d5, -1px 2px 0 #808d93, -2px 1px 0 #cdd2d5, -2px 3px 0 #808d93, -3px 2px 0 #cdd2d5, -3px 4px 0 #808d93, -4px 3px 0 #cdd2d5, -4px 5px 0 #808d93, -5px 4px 0 #cdd2d5, -5px 6px 0 #808d93, -6px 5px 0 #cdd2d5, -6px 7px 0 #808d93, -7px 6px 0 #cdd2d5, -7px 8px 0 #808d93, -8px 7px 0 #cdd2d5;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
  -webkit-transform: none;
  transform: none;
  -webkit-transform-origin: 50% 50% 0;
  transform-origin: 50% 50% 0; }

html {
  font-size: 0.9rem; }

@font-face {
  font-family: 'Siyam Rupali';
  src: url("../static/fonts/SiyamRupali.eot");
  src: local("Siyam Rupali"), url("../static/fonts/SiyamRupali.woff") format("woff"), url("../static/fonts/SiyamRupali.ttf") format("truetype");
  font-style: normal; }

@font-face {
  font-family: 'SutonnyMJ';
  src: url("../static/fonts/SutonnyMJ/SUTOM___.TTF");
  src: local("SutonnyMJ"), url("../static/fonts/SutonnyMJ/SutonnyMJ-Bold.ttf") format("truetype"), url("../static/fonts/SutonnyMJ/SutonnyMJ-BoldItalic.ttf") format("truetype"), url("../static/fonts/SutonnyMJ/SutonnyMJ-Italic.ttf") format("truetype"), url("../static/fonts/SutonnyMJ/SutonnyOMJ.ttf") format("truetype");
  font-style: normal; }

@font-face {
  font-family: 'Noto';
  src: url("../static/fonts/NotoSerifBengali-hinted/NotoSerifBengali-Regular.ttf");
  src: local("Noto"), url("../static/fonts/NotoSerifBengali-hinted/NotoSerifBengali-Bold.ttf") format("truetype"); }

a:link {
  text-decoration: none; }
