/* Override react-select settings */
.link-button {
  background: none !important;
  border: none;
  padding: 0 !important;
  color: #069;
  text-decoration: none;
  cursor: pointer; }

.bg-teacher-list {
  color: #ffffff;
  background-color: #3c6b4f !important; }

.btn-rmv {
  background-color: #9c4951 !important;
  color: #fff !important; }

.btn-view {
  background-color: #435b82 !important;
  color: #fff !important; }

.scroll-div {
  height: 50%;
  overflow-y: scroll; }

.submitButton {
  padding: 12px;
  margin-left: 10px;
  background: white;
  border: 4px solid lightgray;
  border-radius: 15px;
  font-weight: 700;
  font-size: 10pt;
  cursor: pointer;
  color: rgba(10, 10, 10, 0.562); }

.imgPreview {
  text-align: center;
  margin: 5px 15px;
  height: 200px;
  width: 450px;
  border-left: 1px solid gray;
  border-right: 1px solid gray;
  border-top: 5px solid gray;
  border-bottom: 5px solid gray; }
  .imgPreview img {
    width: 100%;
    height: 100%; }

.imgView {
  margin: auto;
  height: 200px;
  width: 250px;
  border-left: 1px solid gray;
  border-right: 1px solid gray;
  border-top: 5px solid gray;
  border-bottom: 5px solid gray; }
  .imgView img {
    width: 100%;
    height: 100%; }

.fileInput {
  border-bottom: 4px solid lightgray;
  border-right: 4px solid lightgray;
  border-top: 1px solid black;
  border-left: 1px solid black;
  padding: 10px;
  margin: 15px;
  cursor: pointer; }

body {
  height: 100%; }

.min-h {
  height: 100%; }

li.active {
  background-color: #428bca; }

li {
  padding-bottom: 5px;
  padding-top: 5px; }

.sidebar {
  background-color: #274627;
  padding-right: 20px;
  padding-top: 20px;
  min-height: calc(100vh - 50px);
  color: white; }

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px;
  margin-bottom: 20px;
  margin-left: -20px; }

.nav-sidebar > li > a {
  color: white; }

.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca; }

button {
  color: #fafafa; }

.dotted-border-bottom {
  border-bottom: 1px solid #aeaec2; }

.nav__submenu {
  display: none; }

.dotted-border-bottom:hover .nav__submenu {
  display: block; }

.nav__submenu {
  font-weight: 300;
  text-transform: none;
  display: none; }

.nav__submenu-item:hover {
  background: rgba(0, 0, 0, 0.1); }

.my-auto {
  margin-top: auto;
  margin-bottom: auto; }

tbody + thead {
  display: none; }

.bg-light-green {
  background-color: #1abd74; }

.bg-purple {
  background-color: #8d2abbcb; }

.Toastify__toast-container.toaster {
  top: 5em;
  width: 400px;
  z-index: 10001; }
  .Toastify__toast-container.toaster .toaster-success {
    background-color: #63ccb5;
    border-radius: 3px; }
    .Toastify__toast-container.toaster .toaster-success .Toastify__close-button:hover {
      color: #ffcd64; }
  .Toastify__toast-container.toaster .toaster-info {
    background-color: #ffcd64;
    border-radius: 3px;
    color: #1c2026; }
    .Toastify__toast-container.toaster .toaster-info .Toastify__close-button {
      color: #1c2026; }
  .Toastify__toast-container.toaster .toaster-error {
    background-color: #e14164;
    border-radius: 3px;
    color: #d8d8d8; }
    .Toastify__toast-container.toaster .toaster-error .Toastify__close-button:hover {
      color: #ff8c6e; }
    .Toastify__toast-container.toaster .toaster-error .error-message-wrapper {
      display: flex;
      flex-direction: column; }
      .Toastify__toast-container.toaster .toaster-error .error-message-wrapper p {
        margin-bottom: 3px; }
        .Toastify__toast-container.toaster .toaster-error .error-message-wrapper p.message {
          font-size: 1.1rem; }
        .Toastify__toast-container.toaster .toaster-error .error-message-wrapper p.id {
          font-size: 0.9rem;
          display: flex;
          flex-direction: row;
          justify-content: space-between; }
        .Toastify__toast-container.toaster .toaster-error .error-message-wrapper p .copy {
          color: #1c2026;
          padding: 2rem 0;
          padding-left: 2rem; }
          .Toastify__toast-container.toaster .toaster-error .error-message-wrapper p .copy:hover {
            color: #ffcd64; }
  .Toastify__toast-container.toaster .Toastify__close-button {
    font-size: 1.2rem;
    font-weight: normal; }

.sp-btn {
  box-sizing: border-box;
  appearance: none;
  background-color: transparent;
  border: 2px solid #e74c3c;
  border-radius: 0.6em;
  color: #e74c3c;
  cursor: pointer;
  align-self: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  margin: 20px;
  padding: 1.0em 1.8em;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700; }
  .sp-btn:hover, .sp-btn:focus {
    color: #1a0f0f;
    outline: 0; }

.first {
  transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out; }
  .first:hover {
    box-shadow: 0 0px 40px 40px #e74c3c inset; }

.third {
  border-color: #1f6899;
  color: #fff;
  box-shadow: 0 0 30px 30px #1f6899 inset, 0 0 0 0 #1f6899;
  transition: all 150ms ease-in-out; }
  .third:hover {
    box-shadow: 0 0 10px 30px #1f6899 inset, 0 0 10px 4px #1f6899; }

.fourth {
  border-color: #f1c40f;
  color: #fff;
  background-image: linear-gradient(45deg, #f1c40f 50%, transparent 50%);
  background-position: 100%;
  background-size: 400%;
  transition: background 300ms ease-in-out; }
  .fourth:hover {
    background-position: 0; }

.fifth {
  border-color: #8e44ad;
  border-radius: 0;
  color: #8e44ad;
  position: relative;
  overflow: hidden;
  z-index: 1;
  transition: color 150ms ease-in-out; }
  .fifth:after {
    content: '';
    position: absolute;
    display: block;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 100%;
    background: #8e44ad;
    z-index: -1;
    transition: width 150ms ease-in-out; }
  .fifth:hover {
    color: #fff; }
    .fifth:hover:after {
      width: 110%; }

.sixth {
  border-radius: 3em;
  border-color: #2ecc71;
  color: #2ecc71;
  background-image: linear-gradient(to bottom, transparent 50%, #2ecc71 50%);
  background-position: 0% 0%;
  background-size: 210%;
  transition: background 150ms ease-in-out, color 150ms ease-in-out; }
  .sixth:hover {
    color: #fff;
    background-position: 0 100%; }

.qb-png {
  background: url("../static/QuestionBank.png") no-repeat center;
  margin: 5px;
  width: 300px;
  height: 50px; }

.access-denied {
  background: url("../static/access_denied.jpg") no-repeat center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 700px;
  height: 450px;
  margin: 8% 0% 0% 14%; }

.not-found {
  background: url("../static/not-found.jpg") no-repeat center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 700px;
  height: 450px;
  margin: 8% 0% 0% 14%; }

.home-txt {
  display: block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  float: none;
  z-index: auto;
  width: auto;
  height: auto;
  position: static;
  cursor: default;
  opacity: 1;
  margin: 0;
  padding: 0;
  overflow: visible;
  border: none;
  -webkit-border-radius: 0;
  border-radius: 0;
  font: normal normal 900 70px/normal "Aldrich", Helvetica, sans-serif;
  color: #202c2d;
  text-align: center;
  -o-text-overflow: clip;
  text-overflow: clip;
  background: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  text-shadow: 0 1px 0 #808d93, -1px 0 0 #cdd2d5, -1px 2px 0 #808d93, -2px 1px 0 #cdd2d5, -2px 3px 0 #808d93, -3px 2px 0 #cdd2d5, -3px 4px 0 #808d93, -4px 3px 0 #cdd2d5, -4px 5px 0 #808d93, -5px 4px 0 #cdd2d5, -5px 6px 0 #808d93, -6px 5px 0 #cdd2d5, -6px 7px 0 #808d93, -7px 6px 0 #cdd2d5, -7px 8px 0 #808d93, -8px 7px 0 #cdd2d5;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
  -webkit-transform: none;
  transform: none;
  -webkit-transform-origin: 50% 50% 0;
  transform-origin: 50% 50% 0; }

html {
  font-size: 0.9rem; }

@font-face {
  font-family: 'Siyam Rupali';
  src: url("../static/fonts/SiyamRupali.eot");
  src: local("Siyam Rupali"), url("../static/fonts/SiyamRupali.woff") format("woff"), url("../static/fonts/SiyamRupali.ttf") format("truetype");
  font-style: normal; }

@font-face {
  font-family: 'SutonnyMJ';
  src: url("../static/fonts/SutonnyMJ/SUTOM___.TTF");
  src: local("SutonnyMJ"), url("../static/fonts/SutonnyMJ/SutonnyMJ-Bold.ttf") format("truetype"), url("../static/fonts/SutonnyMJ/SutonnyMJ-BoldItalic.ttf") format("truetype"), url("../static/fonts/SutonnyMJ/SutonnyMJ-Italic.ttf") format("truetype"), url("../static/fonts/SutonnyMJ/SutonnyOMJ.ttf") format("truetype");
  font-style: normal; }

@font-face {
  font-family: 'Noto';
  src: url("../static/fonts/NotoSerifBengali-hinted/NotoSerifBengali-Regular.ttf");
  src: local("Noto"), url("../static/fonts/NotoSerifBengali-hinted/NotoSerifBengali-Bold.ttf") format("truetype"); }

a:link {
  text-decoration: none; }
